.pessoas{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around; /* o conteúdo(content) deve ter espaço ao redor de todos*/

}

@media screen and (min-width: 0){
    .pessoas{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){
    .pessoas{
        flex-direction: row;
    }
}